{% extends "Master/header.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <!-- Optional sidebar or empty space -->
    </div>
    <div class="col-sm-8">
      <div class="text-center py-5 mb-5 bg-light rounded shadow">
        <h2 class="font-weight-bold text-dark"><strong>Welcome to the Admin Panel</strong></h2>
        <p class="lead text-muted">Your gateway to manage tasks efficiently and effectively.</p>
       
      </div>
      
      
    </div>
    <div class="col-sm-2">
      <!-- Optional sidebar or empty space -->
    </div>
  </div>
</div>

{% endblock %}
